@charset "UTF-8";

.collapsible {
    display: flex;
    align-items: center;
    background-color: var(--quote-bg-color);
    color: var(--quote-fg-color);
    cursor: pointer;
    width: 100%;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    font: 15px var(--fonts);
}

.collapsible p {
    margin: 0;
    flex: 5;
}

.active, .collapsible:hover {
    opacity: 0.75;
    transition: opacity 0.2s linear;
}

.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    content: '\02795'; /* Unicode plus sign (+) */
    font-size: 14px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\2796'; /* Unicode minus sign (-) */
}
