:root {
    --btn-border-color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --btn-border-color: white;
    }
}

.cookie-banner {
    position: fixed;
    z-index: 12;
    bottom: 0;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    background: var(--body-bg-color);
    padding: 20px;
    margin: 0;
    display: none;
    flex-direction: column;
}

.cookie-banner button {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    text-align: center;
    margin: 10px;
    background: var(--fg-header-color);
    border: none;
    transition: opacity 1s;
    display: flex;
    flex-direction: row;
}

.cookie-banner button:hover {
    opacity: 0.6;
}

.cookie-text {
    flex: 5;
    padding-left: 15px;
}

.cookie-buttons {
    display: flex;
    flex-direction: column;
    align-self: normal;
}

.cookie-buttons p {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}

@media only screen and (min-width: 800px) {
    .cookie-banner {
        flex-direction: row;
    }

    .cookie-banner button {
        width: 250px;
    }

    .cookie-buttons {
        align-self: center;
    }
}
