@charset "UTF-8";

@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("/fonts/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
        url("/fonts/WOFF/Atkinson-Hyperlegible-Regular-102.woff") format("woff"),
        url("/fonts/SVG/Atkinson-Hyperlegible-Regular-102.svg") format("svg");
    font-display: swap;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/WOFF2/JetBrainsMono-Regular.woff2") format("woff2");
    font-display: swap;
}

:root {
    /* We use web-safe fonts, but also mix in a few fonts that the user _might_
     * have installed. (If the user has the beautiful fonts installed, they
     * will be used, otherwise we fall back to web-safe fonts.
     */
    /* Web Save Fonts
    --fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Merriweather", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --fonts-serif: "Merriweather", Georgia, Garamond, serif;
    --fonts-mono: "JetBrains Mono", "FiraCode", "Souce Code Pro", "Courier New", monospace;
    */

    --fonts: "Atkinson Hyperlegible";
    --fonts-serif: "Atkinson Hyperlegible";
    --fonts-mono: "JetBrains Mono";

    --bg-image: url("graph_paper_light.png");
    --body-bg-color: #E8E6E3;
    --side-bg-color: #FBFAF8;
    --content-bg-color: white;
    --side-note-border-color: #F0E9DB;
    --header-border-color: #D9EAF2;
    --title-border-color: #EEE;
    --nav-bg-color: #F0F7FA;
    --nav-normal-color: #85A0AD;
    --nav-hover-color: #D1ECFA;
    --fg-color: #222;
    --aside-fg-color: #868279;
    --aside-bg-color: #FAF8F5;
    --aside-border-color: #F7F4ED;
    --aside-border-bottom-color: #F0E9DB;
    --fg-header-color: #1481B8;
    --footer-color: #AAA;
    --shadow-color-1: rgba(71, 51, 31, 0.2);
    --shadow-color-2: rgba(71, 51, 31, 0.05);
    --code-bg-color: #F8FBFC;
    --code-fg-color: #526D7A;
    --code-border-color: #F1F6F9;
    --code-border-bottom-color: #D9EAF2;
    --scrollbar-bg-color: #FBF8F1;
    --scrollbar-fg-color: #D9EAF2;
    --page-border-color: #BBB;
    --page-border-bottom-color: #999;
    --quote-bg-color: #F9FAFB;
    --quote-fg-color: #73848C;
    --quote-border-color: #F3F5F7;
    --quote-border-bottom-color: #DEE8ED;
    --a-code-color: #1481B8;
    --aside-code-color: #666;
    --aside-h2-color: #9E9B94;
    --pre-fg-color: #444;
    --header-main-color: #1481b8;
    --btn-bg-color: #FFC34D;
}

@media (prefers-color-scheme: dark) {

    /* TODO: Better colours! */
    :root {
        --bg-image: url("graph_paper_dark.png");
        --body-bg-color: black;
        --side-bg-color: #1D2021;
        --content-bg-color: #282828;
        /*--side-note-border-color: #B8BB26;*/
        --side-note-border-color: #CC241D;
        --fg-header-color: #CC241D;
        --header-border-color: #CC241D;
        --scrollbar-bg-color: black;
        --scrollbar-fg-color: #CC241D;
        --nav-bg-color: #1D2021;
        --nav-normal-color: #414141;
        --nav-hover-color: #CC241D;
        --title-border-color: #A89984;
        --fg-color: #EBDBB2;
        --aside-fg-color: #BDAE93;
        --aside-bg-color: #1D2021;
        --aside-border-color: #3C3836;
        --aside-border-bottom-color: #504945;
        --footer-color: #32302F;
        --shadow-color-1: rgba(251, 73, 52, 0.2);
        --shadow-color-1: rgba(251, 73, 52, 0.05);
        /*--shadow-color-1: rgba(251, 241, 199, 0.2);
        --shadow-color-1: rgba(251, 241, 199, 0.05);*/
        --code-bg-color: #1D2021;
        --code-fg-color: #EBDBB2;
        --code-border-color: #3C3836;
        --code-border-bottom-color: #504945;
        --page-border-color: #A89984;
        --page-border-bottom-color: #32302F;
        --quote-bg-color: #111;
        --quote-fg-color: #A1A1A1;
        --quote-border-color: #333;
        --quote-border-bottom-color: #222;
        --a-code-color: #1481B8;
        --aside-code-color: #AFAFAF;
        --aside-h2-color: #9E9B94;
        --pre-fg-color: #444;
        --header-main-color: #CC241D;
        --btn-bg-color: #CC241D;
    }
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
    /* Prevent titles (archors) from scrolling under the fixed nav bar. */
}

body,
h1,
h2,
h3,
h4,
p,
blockquote,
code,
ul,
ol,
dl,
dd,
img {
    margin: 0;
}

body {
    color: var(--fg-color);
    line-height: 1.4;
    /*font: normal 14px/24px var(--fonts);*/
    font: normal 16px/24px var(--fonts);
    background-color: var(--body-bg-color);
    /* Backup in case image doesn't load. */
    background-image: var(--bg-image);
}

* {
    scrollbar-color: var(--scrollbar-fg-color) var(--scrollbar-bg-color);
}

nav {
    max-width: 700px;
    color: var(--nav-normal-color);
    font: 14px var(--fonts);
    background: var(--nav-bg-color);
    padding-top: 10px;
    position: fixed;
    z-index: 55;
    left: 0;
    right: 0;
    margin: 0 auto;
}

nav table {
    border-collapse: collapse;
    width: 100%;

    /* Fairly share the space between all td elements. */
    table-layout: fixed;
}

nav td {
    padding: 0;
    vertical-align: middle;
    text-align: center;
}

#scroll-progress {
    height: 2px;
    background: var(--fg-header-color);
    margin-top: 10px;
    width: 0;
}

.page {
    background: var(--side-bg-color);
    /*max-width: 640px;*/
    max-width: 700px;
    margin: 0 auto;

    border-left: 1px solid var(--page-border-color);
    border-right: 1px solid var(--page-border-color);
    border-bottom: 1px solid var(--page-border-bottom-color);

    position: relative;
    box-shadow: 0 0 40px var(--shadow-color-1);
}

.content {
    padding: 0 40px 10px 40px;
    background: var(--content-bg-color);
    box-shadow: 0 0 30px var(--shadow-color-2);
}

h1 {
    font: 200 60px var(--fonts);
    padding: 146px 0 4px 0;
    border-bottom: solid 1px var(--title-border-color);
}

h1.idx {
    color: #777;
    font: normal 16px/20px var(--fonts-serif);
    padding: 6px 0 30px 0;
    border: none;
}

.section:before {
    content: " / ";
}

h2 {
    color: var(--header-main-color);
    font: 300 35px var(--fonts);
    margin: 20px 0 15px -38px;
    padding: 0 0 2px 30px;
    border-left: 8px solid var(--header-border-color);
}

h3 {
    color: var(--header-main-color);
    font: 400 20px var(--fonts);
    margin: 20px 0 0 -38px;
    padding-left: 30px;
    border-left: 8px solid var(--header-border-color);
}

p {
    margin: 15px 0;
}

ul,
ol {
    padding: 0 0 0 24px;
}

ol[type=I] {
    padding-left: 36px;
}

ol[type=I]>li {
    padding-top: 12px;
}

ol[type=I] ol {
    padding-left: 28px;
}

a {
    color: var(--fg-header-color);
    text-decoration: none;
    outline: none;
    border-bottom: 1px solid rgba(209, 236, 250, 0);
    transition: color 0.2s ease, border-color 0.2s ease;
}

a[target=_blank] {
    position: relative;
    margin-right: 8px;
}

a[target=_blank]::after {
    position: absolute;
    content: "◹";
    font-size: 0.6rem;
    bottom: 2px;
}

a[target=_blank]:hover::after {
    font-size: 1.1rem;
}

a:hover {
    border-bottom: solid 1px var(--nav-hover-color);
}

img {
    cursor: zoom-in;
    max-width: 100%;
    border: solid 1px var(--code-border-color);
    border-radius: 3px;
}

blockquote {
    padding: 10px;
    background: var(--quote-bg-color);
    border: 1px solid var(--quote-border-color);
    border-bottom: 1px solid var(--quote-border-bottom-color);
    /*border-radius: 3px;*/
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

blockquote p {
    font: italic 14px/24px var(--fonts-serif);
    color: var(--quote-fg-color);
}

blockquote p:first-child {
    margin-top: 0;
}

blockquote p:last-child {
    margin-bottom: 0;
}

/* BEGIN: figcaption stuff, TODO: needs some cleaning up */

figcaption {
    padding: 0 10px 0 10px;
    background: var(--code-bg-color);
    border: 1px solid var(--code-border-color);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

figcaption p {
    margin: 0;
    color: #B8BB26;
}

figcaption+pre {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

blockquote+figcaption {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: var(--quote-bg-color);
}

img+figcaption {
    background: none;
    border: none;
    margin-top: 0;
}

img+figcaption p {
    color: var(--quote-fg-color);
    font-style: italic;
}

/* END: figcaption stuff */

cite {
    color: var(--quote-fg-color);
    font: italic 12px/22px var(--fonts-serif);
}

cite:before {
    content: "— ";
}

code {
    color: var(--code-fg-color);
    font-family: var(--fonts-mono);
    white-space: pre;
}

p code {
    font-size: 15px;
}

a code {
    color: var(--a-code-color);
}

pre {
    color: var(--pre-fg-color);
    font: normal 13px/16px var(--fonts-mono);
    padding: 10px;
    background: var(--code-bg-color);
    border: 1px solid var(--code-border-color);
    border-bottom: 1px solid var(--code-border-bottom-color);
    border-radius: 3px;
    overflow: auto;
}

mark {
    background: var(--header-border-color);
}

td {
    vertical-align: middle;
}

aside {
    color: var(--aside-fg-color);
    padding: 10px 10px;
    background: var(--aside-bg-color);
    border: 1px solid var(--aside-border-color);
    border-bottom: 1px solid var(--aside-border-bottom-color);
    border-radius: 3px;
}

aside h2 {
    color: var(--aside-h2-color);
    font-size: 24px;
    border: none;
    margin: 20px 0 10px 0;
    padding: 0;
}

aside h2:first-child {
    margin-top: 0;
}

aside p,
aside li {
    font: 15px/22px var(--fonts);
}

aside li {
    line-height: 20px;
}

aside>p:first-child {
    margin-top: 0;
}

aside>p:last-child {
    margin-bottom: 0;
}

aside ul,
aside ol {
    padding: 0 0 0 18px;
}

aside code {
    color: var(--aside-code-color);
    font: normal 13px var(--fonts-mono);
}

aside img {
    padding: 0;
}

aside+aside {
    margin-top: 10px;
}

footer {
    max-width: 640px;
    margin: 20px auto;
    text-align: center;
    color: var(--footer-color);
    font: 14px var(--fonts);
}

input {
    background: var(--content-bg-color);
    border-color: var(--page-border-color);
}

@media only screen and (max-width: 479px) {
    html {
        scroll-padding-top: 40px;
    }

    .content {
        padding: 0 20px 5px 20px;
    }

    h1 {
        font-size: 50px;
        padding-top: 70px;
    }

    h1.idx {
        padding-bottom: 20px;
    }

    .section {
        display: block;
    }

    .section:before {
        content: "";
    }

    h2 {
        font-size: 25px;
        margin-left: -18px;
        padding-left: 10px;
        border-left: 6px solid var(--header-border-color);
    }

    h3 {
        font-size: 18px;
        margin-left: -18px;
        padding-left: 10px;
        border-left: 6px solid var(--header-border-color);
    }

    p,
    li {
        font: normal 13px/22px var(--fonts-serif);
    }

    blockquote p {
        font: italic 13px/22px var(--fonts-serif);
    }

    code {
        font-size: 14px;
    }

    pre {
        padding: 6px;
        font: normal 12px/16px var(--fonts-mono);
        overflow: auto;
    }

    ul,
    ol {
        padding: 0 0 0 20px;
    }

    aside p,
    aside li {
        font: 14px/22px var(--fonts);
    }

    nav {
        /*margin: 20px -18px 0 -18px;*/
        /* padding: 6px 0; */
        padding-top: 6px;
        font-size: 13px;
    }

    #scroll-progress {
        margin-top: 6px;
    }

    footer {
        font-size: 13px;
    }
}

/* Expand view if more than 800px screen width is available. */
@media only screen and (min-width: 800px) {
    .page {
        padding-right: 300px;
    }

    nav {
        max-width: 1000px;
    }

    aside {
        position: absolute;
        width: 240px;
        right: 30px;
        padding: 0;
        padding-left: 22px;
        background: none;
        border: none;
        border-radius: 0;
        border-left: solid 8px var(--side-note-border-color);
    }
}

/* Webmaster */

footer > a {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>✉️</text></svg>") 16 0, auto;
    color: var(--footer-color);
}

footer > a:hover {
    border-bottom: solid 1px var(--footer-color);
}

/* Modal Images */

.modal {
    display: none;
    position: fixed;
    z-index: 66;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}
.modal-image {
    margin: auto;
    display: block;
    max-width: 100%;
    cursor: auto;
}
.modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 100%;
    text-align: center;
    color: #CCC;
    padding: 10px 0;
    height: 150px;
}
@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}
.modal-image,
.modal-caption {
    animation-name: zoom;
    animation-duration: 0.4s;
}
.modal-close {
    position: fixed;
    top: 15px;
    right: 35px;
    color: #F1F1F1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    color: var(--fg-header-color);
}
.modal-close:hover,
.modal-close:focus {
    opacity: 0.7;
    text-decoration: none;
    cursor: pointer;
}

/* Code Line Numbers */

pre {
    white-space: pre-wrap;
}

pre::before {
    counter-reset: line;
}

span.line-number {
    counter-increment: line;
    text-align: left;
    float: left;
    clear: left;
}

span.line-number::before {
    content: counter(line) '  ';
    color: #444;
    display: inline-block;
    float: left;
    margin-left: auto;
    text-align: right;
    width: 4ch;
}
