@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("/fonts/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2"),
        url("/fonts/WOFF/Atkinson-Hyperlegible-Regular-102.woff") format("woff"),
        url("/fonts/SVG/Atkinson-Hyperlegible-Regular-102.svg") format("svg");
    font-display: swap;
}

:root {
    --bg-color: #E8E6E3;
    --bg-image: url("../graph_paper_light.png");
    --fg-color: #121212;
    --input-bg-color: white;
    --content-bg-color: #FBFAF8;
    --border-color: #222;
    --btn-bg-color: #1481b8;
    --btn-fg-color: #121212;
    --btn-border-color: #1481b8;
    --fg-header-color: #1481B8;
    --nav-hover-color: #D1ECFA;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: black;
        --bg-image: url("../graph_paper_dark.png");
        --fg-color: #EBDBB2;
        --input-bg-color: #282828;
        --content-bg-color: #1D2021;
        --border-color: #1D2021;
        --btn-bg-color: #CC241D;
        --btn-fg-color: #EBDBB2;
        --btn-border-color: #CC241D;
        --fg-header-color: #CC241D;
        --nav-hover-color: #CC241D;
    }
}

body {
    background-color: var(--bg-color);
    background-image: var(--bg-image);
    color: var(--fg-color);
}

h2, p {
    text-align: center;
}

a {
    color: var(--fg-header-color);
    text-decoration: none;
    outline: none;
    border-bottom: 1px solid rgba(209, 236, 250, 0);
    transition: color 0.2s ease, border-color 0.2s ease;
}

a:hover {
    border-bottom: solid 1px var(--nav-hover-color);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quiz-content {
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
    max-width: 900px;
    padding: 15px;
    background: var(--content-bg-color);
    border-radius: 15px;
}

.input-border {
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    background: var(--input-bg-color);
}

button {
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    width: 150px;
    float: right;
    background: var(--btn-bg-color);
    color: var(--btn-fg-color);
    border-color: var(--btn-border-color);
}

button[disabled] {
    opacity: .6;
}
